<div style="overflow: hidden;">
    <div style="width:50%; float: left;">
        {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#{{ form_end(form) }}#}
    </div>
</div>
<div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
<style>
    ul > li > a > img {
        width: 300px;
    }
</style>
<ul>
    {% for item in items %}
        <li>
            <a href="{{ path('show.image', {'id': item.public_id}) }}">
                <img src="{{ item.url }}">
                {#{{ dump(item) }}#}
            </a>
        </li>
    {% endfor %}

</ul>